# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy

__Objectives:__
* List popular languages for Data Science
* Create Table in Markdown
* Using Arithmetic Expressions

|Data Science Tools|
---
Hadoop
Spark
Rstudio

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
x= 200
y= x/60
print (y,"hours")

3.3333333333333335 hours

## Author
Muhammad